.memory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0px 60px;
}

.memory-table-container {
    display: flex;
    width: 90%;
    margin: 0px 60px;
    justify-content: space-around;
}

.memory-table-inner-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}